#hContent{
    text-align: center;
    background-color: aquamarine;
    margin: 0 auto;
    padding: 50px;
}
#header{
    max-width: 100%;
    box-sizing: border-box;
    font-size: larger;
}
.songContainer{
    display: flex;
    max-width: 50%;
}
